body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.header_container {
    background-color: #FFFFFF;
}

.main_container {
    background-color: #33333D;
}

.details_container {
    background-color: #FFFFFF;
}

.team_container {
    background-color: #f4f4f4;
}

.footer_container {
    background-color: #33333D;
}
