.header_container .header,
.main_container .main,
.details_container .details_section,
.team_container .team_section,
.footer_container .footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_container {
  padding: 60px 0;
}

.main_container {
  padding: 60px 0;
}

.details_container {
  padding: 60px 0;
}

.team_container {
  padding: 60px 0;
}

.footer_container {
  padding: 60px 0;
}
